mat-card {
  background-color: #f0aaaa73;
  ;
}

.card-container {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
  border-radius: 5px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 1rem;
  justify-content: center;
  margin-top: 2rem;
  padding: 5em;
  border-radius: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  width: 100%;
  max-width: 150px;
}


.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered {
  text-align: center;
}

.right {
  background-color: #ff0000c4;
  border: 1px solid #ffffff;
  padding: .5em;
  color: #ffffff;
  align-self: flex-end;
}